.pi-container {
    display: flex;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 390px;
}

.irit-image {
    width: 400px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    margin: 0;
    padding: 0;
    display: flex
}

.directions-title {
    height: 350px;
    width: 910px;
    margin: 0px 0px 0px -13px;
    padding: 0;
    color: #302A27;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    flex-shrink: 0;
    text-decoration: none;
    background-color: white;
    border-radius: 16px;
    padding: 25px 13px 15px 30px;
    display: flex;
    justify-content: space-between;
}

.info {
    color: #302A27;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    font-style: oblique;
    margin-top: 50px;
    width: 425px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.info-napr {
    color: #302A27;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 20px;
    text-overflow: ellipsis;
    width: 425px;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.info-price {
    color: #302A27;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: -0px;
    margin-left: 200px;
    margin-bottom: 60px;
    text-align: center;
}

.directions-column-1 {
    max-width: 425px;
}

.directions-column-2 {
    margin-top: 50px;
}

.price {
    color: #302A27;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
}

.place {
    color: #302A27;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 300;
    line-height: 0px;
}

.date {
    color: #302A27;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    width: 50px;
    border: 1px solid black;
    padding-left: 5px;
    margin-bottom: 15px;
    margin-top: -150px;
}

.year {
    margin-top: 100px;
    margin-left: 400px;
}

.reviews-data {
    display: none;
}