body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    margin-bottom: 0px;
}

.main-footer {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    position: relative;
    padding-left: 50px;
    display: flex;
    justify-content: center;
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1360px;
    justify-self: center;
}

.main-footer p {
    margin-left: 10px;
}

.main-bottom-decoration {
    width: 100%;
}

.site-nav a {
    transition: all .15s linear;
}

.site-nav a:hover{
    background-color: #5d5959;
    color: white;
}

.logo {
    filter:brightness(0%);
}

.first-column {
    font-size: 18px;
    margin-left: 0px;
    margin-right: 150px;
}

.second-column {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.footer-agreements {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-right: 0px;
}

.footer-agreements a {
    color: #8269EF;
    line-height: 21px;
    margin-top: 20px;
    transition: all .15s linear;
}

.footer-agreements a:hover {
    color: #a18ef3;
}

.social-list {
    display: flex;
    list-style: none;
    gap: 20px;
    padding-left: 10px;
}

.social-list-item {
    transition: all .2s linear;
}

.social-list-item:hover {
    filter: brightness(200%);
}

.footer-nav {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-right: 100px;
}

.footer-nav a {
    text-decoration: none;
    color: inherit;
    line-height: 21px;
    margin-top: 20px;
    transition: all .15s linear;
}

.footer-nav a:hover {
    color: #5d5959;
}

.univ-container {
    margin: 0;
    padding: 0;
    width: 400px;
    height: 340px;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.univ-title {
    margin: 0;
    height: 130px;
    font-size: 22px;
    text-decoration: none;
    line-height: 28px;
    background-color: white;
    border-radius: 16px;
    padding: 15px 13px;
    background-image: linear-gradient(to right, #F42E30, #8269EF);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 8px;
    transition: background-size .3s;
}

.univ-link {
    color: inherit;
    text-decoration: none;
}

.univ-link:hover .univ-title {
    background-size: 100% 8px;
}

.univ-image {
    margin-bottom: -10px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    width: 100%;
    height: 220px !important;
    object-fit: cover;
}

.main ::-webkit-scrollbar {
    width: 20px;
}
  
.main ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    background-color: #5d5959;
    border-radius: 10px;
}
  
.main ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
    min-width: 75px;
}

button {
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

#universitySearch {
    height: 25px;
    width: 100%;
    border: none;
    border-radius: 28px;
    padding: 15px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
    text-indent: 32px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

#universitySearch::placeholder {
    color: #555;
}

.search-icon img,
.search-icon-inline img {
    width: 20px;
    height: 20px;
}

.search-icon {
    margin-right: 10px;
}

.search-icon-inline {
    margin-left: 14px;
    margin-right: -50px;
    position: absolute;
    margin-top: 3px;
}

.univ-catalogue {
    background-color: #F42E30;
    padding-left: 260px;
    margin-top: 20px;
    margin-right: 15px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 62px;
    overflow-y: scroll;
    max-height: 790px;
    border-radius: 18px;
    width: 75%;
}

.univ-selection {
    display: flex;
    margin-left: 260px;
    margin-bottom: 20px;
}

.univer1 .univ-link {
    display: block;
}

.napravlen1 .univ-link {
    display: none;
}

.Instityt1 .univ-link {
    display: none;
}

select {
    border: none;
    outline: none;
}

.filter-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filter-wrapper {
    height: 43px;
    border: 1px solid #fff; 
    border-radius: 28px; 
    overflow: hidden; 
    display: flex;
    margin-right: 12px;
    margin-bottom: 20px;
}

.filter-chips {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.filter-chip {
    background-color: white;
    color: #333;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.container-chips {
    margin-left: 260px;
}

.filter-chip-close {
    cursor: pointer;
    margin-left: 5px;
}

.filter-wrapper p {
    margin: 0;
    padding: 10px 0px 5px 10px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.6);
    color: #333;
    width: 100%;
    white-space: nowrap;
}

.filter-wrapper select {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.6); 
    color: #333; 
    border: none; 
}

.showFiltersButton {
    cursor: pointer;
}

.showFiltersButton:hover {
    filter: brightness(120%);
    cursor: pointer; 
}

.showFiltersButton {
    margin-right: 20px;
}

.login-container {
    text-align: center;
}

button {
    padding: 8px;
    cursor: pointer;
}

.login-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 700px;
    background: #fff;
    padding: 20px;
    text-align: center;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 60px;
}

.form-content {
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    color: #333;
}

.close-button:hover {
    color: #ff0000;
}

.form-content button {
    margin-bottom: 10px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.close-button {
    position: absolute;
    top: -70px;
    right: -550px;
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    color: #333;
    z-index: 2;
    background-color: #e0d9fb;
    width: 55px;
    height: 55px;
    font-size: 40px;
    border-radius: 50px;
}

.forma-reg {
    margin-top: 10%;
    width: 70%;
    height: 9%;
    padding-left: 20px;
    border-radius: 14px;
    border-style: none;
    background-color: #e0d9fb;
}

.key-image {
    max-width: 100%;
    height: auto;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 2%;
}

.input-button {
    margin-top: 8%;
    background-color: #352f2f;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    width: 74%;
    line-height: 160%;
    border-radius: 14px;
    border-style: none;
}

.agree-button {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    overflow: hidden;
    border-radius: 4px;
    border: 2px solid transparent;
    margin-left: 13%;
    margin-top: -6%;
}

.check-mark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: #fff;
    opacity: 0;
    transition: none;
}

.agree-button.checked {
    background-color: #8269EF;
    border: 1px solid #8269EF;
}

.agree-button.checked {
    opacity: 1;
    border: 1px solid #8269EF;
}

.check-mark {
    opacity: 1;
}

.agree-button:not(.checked) {
    border: 1px solid #8269EF;
}

.agre-konf {
    color: #8269EF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    margin-left: 3%;
}

.forma-reg::placeholder {
    color:#8269EF;
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 7%;
    margin: 0 auto;
    margin-top: 7%;
    border-radius: 50px;
    overflow: hidden;
    background: linear-gradient(to right, #8269EF 50%, #e0d9fb 50%);
    animation: jumpBackground 3s infinite; 
}

.input-word, .reg-word {
    width: 50%;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    color: white;
    background: transparent;
    transition: background 0.3s ease;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
}

.input-acc, .reg-acc {
    font-family: 'Lexend Giga', sans-serif;
    font-size: 50px;
    font-weight: 800;
    display: none;
}

.login-out {
    background-color: #464545;
    padding: 10px 16px 10px 16px;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
}

.profile-buttons {
    display: flex;
}

button {
    border: none;
    width: 60%;
    background: #000;
    color: #FFF;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    border-radius: 10px;
}