body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.header-decor {
    position: absolute;
    z-index: -1;
}

.header-nav {
    height: 108px;
    box-sizing: border-box;
}

.header-decor-bot {
    width: 100%;
    position: absolute;
    top: 108px;
    min-height: 20px;
}

.university-main {
    margin: 0;
    padding: 0;
    background-color: white;
    min-height: 200px;
    height: auto;
    border-top-right-radius: 20px;
}

.main-top {
    background-color: #8269EF;
    border-top-right-radius: 20px;
    padding-top: 50px;
}

#back {
    display: block;
    flex-direction: column;
    align-items: center;
    width: 102px;
    height: 46px;
    border-radius: 56px;
    background-color: aliceblue;
    margin-left: 226px;
}

#back a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

.back-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.gallery {
    min-width: 1427px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8269EF;
}

.gallery h1 {
    color: white;
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 76px;
}

.gallery img {
    width: 1026px;
    height: auto;
    border-radius: 50px;
    margin-bottom: 31px;
}

.gallery-decor-bot {
    width: 100%;
}

section {
    margin: 0;
    padding: 0;
    background-color: white;
    padding-top: 50px;
    padding-left: 50px;
    max-width: 1420px;
    min-width: 1420px;
    align-self: center;
}

section p {
    margin: 0;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
}

section h2 {
    margin: 0;
    padding: 0;
    color: #352F2F;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 76px;
}

.univ-information {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.univ-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    height: 194px;
    padding-top: 23px;
    box-sizing: border-box;
    background-color: #8269EF;
}

.univ-nav-decor {
    width: 100%;
}

.univ-nav-decor-top{
    margin-bottom: -5px;
}

.button-wrapper {
    background-color: white;
    display: flex;
    width: 445px;
    height: 130px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    gap: 59px;
    border-radius: 8px;
}

.button-wrapper img {
    width: 57px;
    height: 57px;
}

.button-wrapper p {
    color: #333;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
}

.button-link {
    text-decoration: none;
}

.image-container {
    display: flex;
    align-items: flex-start;
    position: relative;
}

.delete-button {
    position: absolute;
    top: 2%;
    right: 2%;
    background: none;
    border: none;
    cursor: pointer;
}

.delete-button img {
    width: 30px; 
    height: 28px; 
}

.file-input-container {
    display: none;
    text-align: center;
}

#fileInput {
    display: none;
}

#fileLabel {
    cursor: pointer;
    padding: 200px 400px 200px;
    border: 3px dashed #ccc;
    display: inline-block;
    border-radius: 40px;
    margin-bottom: 20%;
}

.add-chapter {
    display: flex;
    align-items: center;
    background-color: white;
    border: 2px dashed black;
    width: 36%;
    height: 100px;
    margin-top: 3%;
    color: #352F2F;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    white-space: nowrap;
}

.details {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.details td {
    padding-right: 50px;
    padding-top: 16px;
}

#gos_or_private-value, #military_department-value {
    text-transform: capitalize;
}