<!-- Устанавливаем multipart/form-data -->
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Выводим каждое поле формы в отдельном параграфе -->
    {{ form.as_p }}
    <button type="submit">Загрузка</button>
</form>

<!-- Выводим уже созданные записи -->
{% for b in universities %}
<p>{{ b.name }}</p>
<img src="{{ b.photo.url }}" width="50px">
<!-- Выводим размер картинки -->
<p>Оригинальный размер картинки  {{ b.photo.width }}x{{ b.photo.height }}</p>
<!-- <br/> -->
<a href="{{ b.name }}">Ссылка на страничку вуза</a>
<p>{{ b.about }}</p>
<p>{{ b.contacts }}</p>
<br/>
{% endfor %}