<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'flairest_campus/css/hello.css' %}">
	<meta name="yandex-verification" content="4856085e9617d695" />
	<title>"Привет!"</title>
</head>
<body>
	<div class="gradient-all">Made by flairest</div>
	<div style="text-align: center;">
		<input type="button" name="main_page" value="Перейти на основную страницу" onclick="location.href='catalog'"/>
	</div>
	<p style="display: none;">Каталог ВУЗов Урала</p>
</body>
</html>
