<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{{ uni.name }}</title>
    <link rel="stylesheet" href="{% static 'flairest_campus/css/bs.css' %}">
    <link rel="stylesheet" href="{% static 'flairest_campus/css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'flairest_campus/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'flairest_campus/css/index-style.css' %}">
    <link rel="stylesheet" href="{% static 'flairest_campus/css/directions.css' %}">
    <link rel="stylesheet" href="{% static 'flairest_campus/css/university-style.css' %}">
    <link rel="stylesheet" href="{% static 'flairest_campus/css/redact.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&family=Roboto:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="{% static 'flairest_campus/scripts/filter.js' %}"></script>
    <script src="{% static 'flairest_campus/scripts/auth.js' %}"></script>
    <script src="{% static 'flairest_campus/scripts/redact.js' %}"></script>
    <script src="{% static 'flairest_campus/scripts/forma.js' %}"></script>
</head>
<body>
    <img class="header-decor" src = "{% static 'flairest_campus/image/header-decor-violet.svg' %}">
    <header class="header-nav">
        <a href="https://studgorod.ru/" class = "kampus"><img src="{% static 'flairest_campus/image/kampus.png' %}"></a>
        <div class="site-nav">
            <a href="https://studgorod.ru/#news" class="news">Новости</a>
            <a href="../../../catalog" class="catalog">ВУЗы</a>
            <a href="https://studgorod.ru/#events" class="events">Мероприятия</a>
            <a href="https://studgorod.ru/" class="more">Ещё</a>
        </div>
        <a href="../../../profile" class="enter">Мой профиль</a>
    </header>
    <main class="university-main">
        <div class="main-top">
            <nav id="back">
                <div class="back-wrapper">
                    <input type=button value="Назад" onClick="javascript:history.go(-1);">
                </div>
            </nav>
            <div class="gallery">
                <a class="redact" href="/edit/{{ uni.id }}/">Изменить</a>
                <h1 id="uniTitle" contenteditable="false" style="text-align: center;">{{ uni.name }}</h1>
                <div class="image-container">
                    <img id="uniImage" src="{{ uni.photo.url }}">
                    <!--
                    <button class="delete-button" onclick="deleteImage()">
                        <img src="{% static 'flairest_campus/image/trashcan.png' %}" alt="Удалить фотографию">
                    </button>
                    -->
                </div>
                <!--
                <div class="file-input-container">
                    <label for="fileInput" id="fileLabel"><img src="{% static 'flairest_campus/image/add_box.svg' %}" alt="Добавить фотографию" style="height: 75%; width: 75%;"></label>
                    <input type="file" id="fileInput" accept="image/*" onchange="replaceImage(this)">
                </div>
                -->
            </div>
        </div>
        <img class="gallery-decor-bot" src="{% static 'flairest_campus/image/univ_decor/univ_gallery_decor_bot.svg' %}" alt="">
        <div class="univ-information">
            <section>
                <h2 contenteditable="false" spellcheck="false">Об университете</h2>
                <p contenteditable="false" spellcheck="false">{{ uni.about }}</p>
            </section>
            <section>
                <h2>Детали</h2>
                <table class="details">
                    <tr><td id="city">Город</td><td id="city-value">{{ uni.gorod }}</td></tr>
                    <tr><td id="gos_or_private">Государственный</td><td id="gos_or_private-value">{{ uni.gos_or_private }}</td></tr>
                </table>
            </section>
            <section>
                <h2 contenteditable="false" spellcheck="false">Контакты</h2>
                <p contenteditable="false" spellcheck="false">{{ uni.contacts|linebreaks }}</p>
            </section>
            <!--
            <section class="edit">
                <button onclick="addSection()" class="add-chapter"><img src="{% static 'flairest_campus/image/add_box_chapter.svg' %}">Добавить раздел</button>
            </section>
            -->
        </div>
        <img class="univ-nav-decor univ-nav-decor-top" src="{% static 'flairest_campus/image/univ_decor/univ_nav_decor_top.svg' %}" alt="">
        <img class="univ-nav-decor" src="{% static 'flairest_campus/image/univ_decor/univ_nav_decor_bot.svg' %}" alt="">
    </main>
    <footer class="main-footer">
        <div class="first-column">
            <a href="/">
                <img class="logo" src="{% static 'flairest_campus/image/kampus.png' %}">
            </a>
            <p class="first-column">
                Екатеринбург - студенческая столица России!
            </p>
            <p class="first-column">
                Подпишитесь на наши соцсети
            </p>
            <ul class="social-list">
                <li class="social-list-item">
                    <a href="https://ok.ru/" target="_blank">
                        <img src="{% static 'flairest_campus/image/social_media/ok.svg' %}">
                    </a>
                </li>
                <li class="social-list-item">
                    <a href="https://vk.com/" target="_blank">
                        <img src="{% static 'flairest_campus/image/social_media/vk.svg' %}">
                    </a>
                </li>
                <li class="social-list-item">
                    <a href="https://web.telegram.org/" target="_blank">
                        <img src="{% static 'flairest_campus/image/social_media/tg.svg' %}">
                    </a>
                </li>
                <li class="social-list-item">
                    <a href="https://www.whatsapp.com/" target="_blank">
                        <img src="{% static 'flairest_campus/image/social_media/wa.svg' %}">
                    </a>
                </li>
            </ul>
        </div>
        <div class="second-column">
            <ul class="footer-nav">
                <a href="https://studgorod.ru/#news">Новости</a>
                <a href="https://studgorod.ru/#events">Мероприятия</a>
                <a href="https://studgorod.ru/partners">Партнеры</a>
                <a href="https://studgorod.ru/pages/Kontakty">Контакты</a>
            </ul>
            <ul class="footer-agreements">
                <a href="https://studgorod.ru/pages/politika-konfidencialnosti-i-obrabotka-personalnyh-dannyh">Политика конфиденциальности</a>
                <a href="https://studgorod.ru/pages/soglasie-na-obrabotku-personalnyh-dannyh">Согласие на обработку персональных данных</a>
            </ul>
        </div>
    </footer>
</body>
</html>
